@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Poppins&display=swap');

:root {
  --font-family-title: 'DM Sans', sans-serif;
    --font-family: 'Poppins', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #FCFCFD;
  --color-header: #F4F5F6;
  --color-footer : #F4F5F6;
  --color-blog: #F4F5F6;
  --color-text: #23262F;
  --color-subtext: #777E90;
  --color-bnt: #3B71FE;
}